 {% load static %}
 
    <div class="bottombar">
        <nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="{% url 'core:home' %}"><img class="navbar-logo" src="{% static '/img/alinino.png' %}" alt=""></a>

    <div class="input-group mb-6">
      <form action="{% url 'core:filtr-page' %}">
      <input style="width: 300px;" name="search" action="" type="text" class="form-control search-input" placeholder="Kataloq üzrə axtarış" aria-label="Kataloq uzre axtaris " aria-describedby="basic-addon2">
      </form>
  <div class="input-group-append">
    <span class="input-group-text search-btn" id="basic-addon2"><img class="search-icon" src="https://www.freeiconspng.com/uploads/search-icon-png-29.png" alt=""></span>
  </div>
</div>

<div class="profile-icon">
    <div class="container container2">
      <div class="kab" style="display: flex;">

        <i class="fa-solid fa-user user-icon"></i>
        <h5 class="user-title">Şəxsi kabinet</h5>
      </div>
      <div class="middle">
        
        <div class="profile-dropdown2">
      
       {%if request.user.is_authenticated%}
    <div class="top-dropdown">

      <div class="user-info">
      <p class="name-user" style="color: white;">{{ request.user.username }}</p>
      <p class="gmail-user" style="color: WHITE;">{{ request.user.email }}</p>
       
      </div>


    </div>
    <div class="bottom-dropdown">
     
      <form method="post" action="{%url 'accounts:logout'%}">
       
        {% csrf_token %}
        <button type="submit" class="logout-btn">Çıxış</button>
       </form>
    </div>
    {% else %}
    <div class="div">
  <div style="display: flex;" class="profile-dropdown1">
    <a href="{% url 'accounts:login' %}">
      
      <button class="login-btn">Login</button>
    </a>
    <a href="{% url 'accounts:sign' %}">

      <button style="margin-left: 10px;" class="register-btn">Register</button>
    </a>
  </div>
  
</div>

    {% endif %}
  </div>
        
  
  </div>
</div>


</div>
    
  
</nav>
    </div>